<div class="row">
    <div class="header">
        <button
            @btnEnter
            type="button"
            class="btn"
            (click)="goToTutotial();">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </button>
        <h1 id="title"></h1> 
        <button
            @btnEnter
            type="button"
            class="btn"
            triggers="mouseenter:mouseleave"
            container="body"
            [ngbPopover]="popcontent"
            popoverTitle="Supported Grammers">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
        </button>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <div class="input-group pl-4 pr-4 pt-4">
                <input #input type="text" class="form-control" placeholder="regex here" (keydown.enter)="input.blur(); onClick(input.value)">
                <div class="input-group-append">
                    <button class="btn btn-enter" type="button" (click)="onClick(input.value)">Enter</button>
                </div>
            </div> 
            <div @errorLeave class="alert alert-danger" role="alert" *ngIf="error">
                {{error}}
            </div>
        </div>
        <div class="col-4" #target></div>
    </div>
    <div style="padding: 1%;"></div>
    <div class="col d-flex justify-content-around">
        <app-visualizer #regex [name]="'regex'"></app-visualizer>
    </div>
    <div class="col d-flex justify-content-around">
        <app-visualizer #nfa [name]="'nfa'"></app-visualizer>
    </div>
    <div class="col d-flex justify-content-around">
        <app-visualizer #dfa [name]="'dfa'"></app-visualizer>
    </div>   
    <div style="padding: 1%;"></div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <div class="input-group pl-4 pt-4">
                <input #input2 type="text" class="form-control" placeholder="test a word" [attr.disabled]="loading">
                <div class="input-group-append">
                    <button class="btn btn-enter" type="button" (click)="validate(input2.value)" [attr.disabled]="loading">Validate</button>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<ng-template #popcontent>
    <table>
        <tr>
            <td>a|b</td>
            <td>-- Disjunction</td>
        </tr>
        <tr>
            <td>ac</td>
            <td>-- Conjunction</td>
        </tr>
        <tr>
            <td>a*</td>
            <td>-- Zero or More</td>
        </tr>
        <tr>
            <td>a+</td>
            <td>-- One or More</td>
        </tr>
        <tr>
            <td>a?</td>
            <td>-- Zero or One</td>
        </tr>
        <tr>
            <td>(a)</td>
            <td>-- Groups</td>
        </tr>
    </table>
</ng-template>