<div class="row">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="input-group pl-4 pr-4 pt-4">
                <input #input type="text" class="form-control" placeholder="regex here" aria-label="Recipient's username">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="onClick(input.value)">GO</button>
                </div>
            </div> 
            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{error}}
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="col d-flex justify-content-around">
        <app-visualizer #regex [name]="'regex'"></app-visualizer>
    </div>
    <div class="col d-flex justify-content-around">
        <app-visualizer #nfa [name]="'nfa'"></app-visualizer>
    </div>
    <div class="col d-flex justify-content-around">
        <app-visualizer [name]="'dfa'"></app-visualizer>
    </div>    
</div>