<div class="jumbotron vertical-center">
    <div class="container">
        <div class="row" id="typeItTarget">
        </div>
        <br>
        <div class="row" *ngIf="showButtons" @fadeIn>
            <div class="col d-flex justify-content-around"><button class="tutorial-button">regular expressions</button></div>
            <div class="col d-flex justify-content-around"><button class="tutorial-button">finite automata</button></div>
            <div class="col d-flex justify-content-around"><button class="tutorial-button">thompsons construction</button></div>
        </div>
        <br>
        <h4 id="hint"></h4>
    </div>
</div>