.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}
.tutorial-button {
    height: 150px;
    width: 150px;
    color: white;
    font-size: large;
    background-color: #222222;
    box-shadow: 3px 5px 5px #888888;
    border-radius: 50%;
    border: none;
    word-spacing: 1000px; /* Large spacing to ensure one word per line */
    transition: all 1s ease;
    transform: scale(1);
}
.tutorial-button:hover {
    transform: scale(1.2)
}
.tutorial-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}
mark {
    border-right: 2px solid white;
}